<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
                      
  <localRepository>C:/rd/prjcts/gae/blog/maven-repo/</localRepository>
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
       <mirrorOf>*,!nexus_snapshot</mirrorOf>
      <url>http://repo1.maven.org/maven2</url>
	  
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
		<repository>
  <id>beardedgeeks-releases</id>
  <url>http://beardedgeeks.googlecode.com/svn/repository/releases</url>
  <releases>
    <enabled>true</enabled>
  </releases>
  <snapshots>
    <enabled>false</enabled>
  </snapshots>
</repository>
        <repository>
          <id>nexus_release</id>
          <url>http://gec-maven-nexus.walmart.com/nexus/content/groups/public/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>nexus_snapshot</id>
        <url>http://gec-maven-nexus.walmart.com/nexus/content/groups/public_snapshot/</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time 	 -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>nexus_snapshot</id>
      <username>rdhabal</username>
      <password></password>
    </server>
    <server>
      <id>pangaea_releases</id>
      <username></username>
      <password></password>
    </server>
  </servers>
</settings>
